In [1]:
import pandas as pd
import os

In [2]:
arquivos_terceirizadas = r"C:\Users\MarkosPereira.exc\Downloads\BIdopool\ZGeral\Terceirizadas".replace("\\","/")

In [3]:
for raiz, diretorios, arquivos in os.walk(arquivos_terceirizadas):
    for arquivo in arquivos:
        print(arquivo)

3lagoas.xlsx
aracruz.xlsx
Cachoeiro de Itapemirim.xlsx
Imperatriz.xlsx
jacarai.xlsx
Limeira.xlsx
Mucuri.xlsx
Suzano.xlsx

In [4]:
#Transformando os arquivos em fata frames individuais e adicionando-os em uma lista
df_arq_cap = list()
for raiz, diretorios, arquivos in os.walk(arquivos_terceirizadas):
    for arquivo in arquivos:
        caminho_completo = os.path.join(raiz, arquivo)
        df = pd.read_excel(caminho_completo, engine='openpyxl', parse_dates=True)
        df_arq_cap.append(df)

In [5]:
for dataframe in df_arq_cap:
    display(dataframe.head(6))

,Unnamed: 0,ST,C. CUSTO,DATA,HORA,ORIGEM,DESTINO,VALOR TOTAL,SOLICITANTE,PASSAGEIRO,PLACA,MOTORISTA,TIPO,profit,Unidade
0,0,E-mail,10CECER085,2022-12-01,00:10:00,Site (Fábrica Três Lagoas MS),Três Lagoas MS,161.07,Dayson Danilo Pereira da Silva Cabral,Jucellia Lima / Hiram Machado,QAV6D76,Agnaldo .,Taxista,locaisa,Três lagoas
1,1,E-mail,11CETLS106,2022-12-01,02:00:00,Site (Fábrica Três Lagoas MS),Três Lagoas MS,144.55,Luiz Rodrigues do Santos,Jose Cicero / Michel Vicente / Rodrigo Gustavo,RFK4I78,Melissa .,Taxista,locaisa,Três lagoas
2,2,E-mail,11CETLS116,2022-12-01,01:00:00,Site (Fábrica Três Lagoas MS),Três Lagoas MS,218.89,Jose Batista de Albuquerque Neto,Fabio Belmont / Denis Rodrigues / Gabriel Pere...,QOE6C15,Felipe .,Taxista,locaisa,Três lagoas
3,3,E-mail,11CETLS106,2022-12-01,02:00:00,Site (Fábrica Três Lagoas MS),Três Lagoas MS,144.55,Luiz Rodrigues do Santos,Jose Cicero / Michel Vicente / Rodrigo Gustavo,RFK4I78,Melissa,Taxista,locaisa,Três lagoas
4,4,E-mail,07CETL1302,2022-12-01,04:00:00,Três Lagoas MS,Site (Fábrica Três Lagoas MS),152.81,Claudemir Emerenciano Buinauski,Ivanildo Braga / Luiz Ferreira,BWW5H39,Junior Santana .,Taxista,locaisa,Três lagoas
5,5,E-mail,11CETLS103,2022-12-01,04:00:00,Site (Fábrica Três Lagoas MS),Três Lagoas MS,136.29,Jose Batista de Albuquerque Neto,Marcelo Caldeira,DMP1D62,Joao Dinis .,Taxista,locaisa,Três lagoas

,Unnamed: 0,CAP,C.CUSTO,DATA,HORA,ORIGEM,DESTINO,CUSTO,SOLICTANTE,PASSAGEIRO,PLACA,MOTORISTA,tipo,profit,Unidade
0,0,657067,11CEARA115,2023-02-01,03:00:00,FABRICA,COQUEIRAL,71.95,EDVAN DOS SANTOS PESSOTTI,EDVAN DOS SANTOS PESSOTTI,RBI8F32,MAGNO,chamadas,chamadas,Aracruz
1,1,657055,07CEAR1308,2023-02-01,03:00:00,FABRICA,VITORIA,299.79,ERIK LIMA MAXIMIANO,ERIK LIMA MAXIMIANO,RBI8F32,MAGNO,chamadas,chamadas,Aracruz
2,2,657079,11ceara104,2023-02-01,05:30:00,SERRA,FABRICA,335.77,VAGNO SILVA LIMA,WENDELL UBIRAJARA DANTAS SILVA,RBI8F32,MAGNO,chamadas,chamadas,Aracruz
3,3,657310,12cear1210,2023-02-01,15:00:00,FABRICA,ARACRUZ,119.91,BARBARA REGINA DA SILVA MACHADO,WERDLEY FERNANDES MADEIRA,RBI8F32,VALDEIR,chamadas,chamadas,Aracruz
4,4,657299,11CEARA102,2023-02-01,19:00:00,FABRICA,ARACRUZ,59.95,Rafael Sarcinelli,RAFAEL SARCINELLI,RBI8F32,VALDEIR,chamadas,chamadas,Aracruz
5,5,657347,07CEAR1209,2023-02-01,19:00:00,FABRICA,ARACRUZ,59.96,Sergio Liuth,LIUTH,RBI8F32,VALDEIR,chamadas,chamadas,Aracruz

,Unnamed: 0,ST,C. CUSTO,DATA,HORA,ORIGEM,DESTINO,VALOR TOTAL,SOLICITANTE,PASSAGEIRO,PLACA,MOTORISTA,TIPO,profit,Unidade
0,0,674540,07BCCCI507,2023-04-01 00:00:00,03:00:00,CORAMA,FÁBRICA,89.628,RICARDO MARTINS ROBERTE,RAFAEL,QRL-2E20,DANIEL,CHAMADA,Taxi cachoeiro,Cachoeiro de Itapemirim
1,1,674541,07BCCCI507,2023-04-01 00:00:00,03:40:00,FÁBRICA,SÃO GERALDO,64.680,RICARDO MARTINS ROBERTE,SAMUEL,QRL-2E20,DANIEL,CHAMADA,Taxi cachoeiro,Cachoeiro de Itapemirim
2,2,674544,07BCCCI507,2023-04-01 00:00:00,07:00:00,GILBERTO MACHADO,RECANTO; FÁBRICA,68.145,RICARDO MARTINS ROBERTE,HELOÍSA ; DEJAIR,QRL-2E20,DANIEL,CHAMADA,Taxi cachoeiro,Cachoeiro de Itapemirim
3,3,675589,03BCCCI002,2023-04-01 00:00:00,08:00:00,GILBERTO MACHADO,FÁBRICA,62.370,LAIRO DAVID FEUCHARD,LAIRO DAVID,QRL-2E20,DANIEL,CHAMADA,Taxi cachoeiro,Cachoeiro de Itapemirim
4,4,674546,07BCCCI507,2023-04-01 00:00:00,09:20:00,FÁBRICA,N.BRASÍLIA ; GILBERTO MACHADO,74.151,RICARDO MARTINS ROBERTE,HELOÍSA,RBJ-4A27,CALOS EDUARDO,CHAMADA,Taxi cachoeiro,Cachoeiro de Itapemirim
5,5,675592,03BCCCI002,2023-04-01 00:00:00,11:00:00,CAIÇARA,KM90; INDEPENDENTE; FÁBRICA,100.023,LAIRO DAVID FEUCHARD,THAYS; REBECCA; DOUGLAS; UYLL,RBJ-4A27,CALOS EDUARDO,CHAMADA,Taxi cachoeiro,Cachoeiro de Itapemirim

,Unnamed: 0,ST,C. CUSTO,DATA,HORA,ORIGEM,DESTINO,VALOR TOTAL,SOLICITANTE,PASSAGEIRO,PLACA,MOTORISTA,TIPO,profit,Unidade
0,0,647524,310198,2023-01-01 00:00:00,01:00:00,RESIDENCIA X FABRICA X RESIDENCIA,TRECHO RODADO,80.5,MISAEL MORAIS,MISAEL MORAIS,ROF6H57,ROSENO,TAXI,Imperatriz,Imperatriz
1,1,647691,310372,2023-01-01 00:00:00,19:00:00,RESIDENCIA X FABRICA X RESIDENCIA,TRECHO RODADO,84.0,RAIMUNDO DOUGLAS,RAIMUNDO DOUGLAS,ROA3C20,ORLEANES,TAXI,Imperatriz,Imperatriz
2,2,BOMBEIRO,310263,2023-01-01 00:00:00,20:24:00,BOMBEIRO,TRECHO RODADO,85.0,MARCOS JANDER,MARCOS JANDER,PSL4E00,RICHARDSON,TAXI,Imperatriz,Imperatriz
3,3,BOMBEIRO,310263,2023-01-01 00:00:00,18:55:00,BOMBEIRO,TRECHO RODADO,85.0,RICARDO LEAL,RICARDO LEAL,PSL4E00,RICHARDSON,TAXI,Imperatriz,Imperatriz
4,4,647518,310397,2023-01-01 00:00:00,04:25:00,RESIDENCIA X FABRICA X RESIDENCIA,TRECHO RODADO,98.0,ITAPODJAYRA,ITAPODJAYRA,ROJ1J81,JOAO LUIZ,TAXI,Imperatriz,Imperatriz
5,5,647522,310397,2023-01-01 00:00:00,04:00:00,RESIDENCIA X FABRICA X RESIDENCIA,TRECHO RODADO,80.5,GUILHERME CRUZ,GUILHERME CRUZ,ROB1H22,JUAREZ,TAXI,Imperatriz,Imperatriz

,Unnamed: 0,ST,C/CUSTO,DATA,HORA,ORIGEM,DESTINO,VL TOTAL,SOLICITANTE,PASSAGEIRO,PLACA,MOTORISTA,TIPO,profit,Unidade
0,6,whatsp,P/CE.JC.IN.22003LF.MME,2022-12-01,02:30:00,Fabrica Jacareí,Jacareí,55.08,NaN,Aparecido Cardoso Macedo,NaN,NaN,CHAMADA,bm,Jacareí
1,7,whatsp,11CEJAC111,2022-12-01,03:00:00,Fabrica Jacareí,Jacareí,55.08,NaN,Gustavo Rezende Faria,NaN,NaN,CHAMADA,bm,Jacareí
2,8,whatsp,11CEJAC111,2022-12-01,05:30:00,Guararema,Fabrica Jacareí,76.50,NaN,Adriano Evangelista,NaN,NaN,CHAMADA,bm,Jacareí
3,9,whatsp,07CEJA1310,2022-12-01,05:30:00,Jacareí,Fabrica Jacareí,55.08,NaN,Altieri Paulino Marins Mariano,NaN,NaN,CHAMADA,bm,Jacareí
4,10,635613,08CEARA012,2022-12-01,06:00:00,São Paulo,Guararema,408.50,NaN,Ana Paula Vieira Tonon,NaN,NaN,CHAMADA,bm,Jacareí
5,11,whatsp,11CEJAC111,2022-12-01,06:00:00,São José dos Campos,Fabrica Jacareí,116.36,NaN,Jauber Simões Gasparini,NaN,NaN,CHAMADA,bm,Jacareí

,Unnamed: 0,ST,C. CUSTO,DATA,HORA,ORIGEM,DESTINO,VALOR TOTAL,SOLICITANTE,PASSAGEIRO,PLACA,MOTORISTA,TIPO,profit,Unidade
0,0,E-MAIL,100195,2023-12-21,17:30:00,MOGI,FB,63,MARCELO VALVERDE,MARCELO VALVERDE,N/D,DELCYR,TAXI,2 Elos transportes,Limeira
1,1,E-MAIL,100217,2023-01-01,17:45:00,FB,SUZANO,42,IVAN RICARDO,IVAN RICARDO,N/D,JUNIOR,TAXI,2 Elos transportes,Limeira
2,2,E-MAIL,100148,2023-01-01,14:05:00,FB,ITAQUÁ,63,ELINE SANTOS,ELINE SANTOS,N/D,JUNIOR,TAXI,2 Elos transportes,Limeira
3,3,E-MAIL,100336,2023-01-01,17:10:00,MOGI,RIO VERDE,94.5,FELIPE,FELIPE,N/D,LUIZ,TAXI,2 Elos transportes,Limeira
4,4,E-MAIL,100336,2023-01-01,17:50:00,RIO VERDE,MOGI,94.5,GUILHERME,GUILHERME,N/D,LUIZ,TAXI,2 Elos transportes,Limeira
5,5,E-MAIL,100148,2023-01-02,05:30:00,SUZANO,FB,84,CRISTIANE PASSOS,CRISTIANE PASSOS,N/D,MACIEL,TAXI,2 Elos transportes,Limeira

,Unnamed: 0,ST,C. CUSTO,DATA,HORA,ORIGEM,DESTINO,VALOR TOTAL,SOLICITANTE,PASSAGEIRO,PLACA,MOTORISTA,TIPO,profit,Unidade
0,0,511878/511570/511857/511868/511862,110402/110846/110086/110086/110846/110888,2022-05-16,06:30:00,CARAVELAS,FABRICA,330,EMMANUEL SILVA DE ANDRADE,EMMANUEL SILVA DE ANDRADE,ETIOS,CRISTOGENES,CHAMADA,DPG,Mucuri
1,1,512162/512131/512206,110085/110086/110096,2022-06-09,18:00:00,CONCEIÇÃO DA BARRA COCB,TEIXEIRA DE FREITAS,460,FERNANDA FERREIRA CONTARDI,FERNANDA FERREIRA CONTARDI,ETIOS,CRISTOGENES,CHAMADA,DPG,Mucuri
2,2,E-MAIL,110065,2022-06-10,18:00:00,CONCEIÇÃO DA BARRA COCB,TEIXEIRA DE FREITAS,460,FERNANDA FERREIRA CONTARDI,FERNANDA FERREIRA CONTARDI,ETIOS,CRISTOGENES,CHAMADA,DPG,Mucuri
3,3,512417/512492/512410,110065/110074/160067,2022-06-22,18:00:00,CONCEIÇÃO DA BARRA COCB,TEIXEIRA DE FREITAS,460,FERNANDA FERREIRA CONTARDI,FERNANDA FERREIRA CONTARDI,ETIOS,CRISTOGENES,CHAMADA,DPG,Mucuri
4,4,518292,110090,2022-01-04,19:00:00,FABRICA,TEIXEIRA DE FREITAS,185,MURILO VIANA/VILMAR SOUZA/MARCUS VINICIUS E JE...,MURILO VIANA/VILMAR SOUZA/MARCUS VINICIUS E JE...,ETIOS,CRISTOGENES,CHAMADA,DPG,Mucuri
5,5,518281,110085,2022-01-04,19:00:00,FABRICA,TEIXEIRA DE FREITAS,185,CASSIUS CLAY DE SOUZA,CASSIUS CLAY DE SOUZA,ETIOS,CRISTOGENES,CHAMADA,DPG,Mucuri

,Unnamed: 0,ST,C. CUSTO,DATA,HORA,ORIGEM,DESTINO,VALOR TOTAL,SOLICITANTE,PASSAGEIRO,PLACA,MOTORISTA,TIPO,profit,Unidade
0,0,NaN,100336,03/04/2023,17:10:00,RIO VERDE,MOGI,94.5,VALDECIR PEREIRA,ROBERTA SANTOS,NaN,ABRAÃO,chamada,Taxi suzano,Suzano
1,1,NaN,100337,2023-04-16 00:00:00,06:45:00,MOGI,RIO VERDE,94.5,AMARAL,JOILON CANDIDO,NaN,SOUZA,chamada,Taxi suzano,Suzano
2,2,NaN,100336,2023-04-28 00:00:00,18:15:00,RIO VERDE,MOGI,94.5,AMARAL,JOILON CANDIDO,NaN,DELCYR,chamada,Taxi suzano,Suzano
3,3,NaN,100291,2023-04-29 00:00:00,22:40:00,SÃO PAULO,FB,283.5,FABIO CIRILO,FABIO CIRILO,NaN,JUNIOR,chamada,Taxi suzano,Suzano
4,4,NaN,100217,2023-05-01 00:00:00,09:40:00,MOGI,FB,63.0,BRUNA PAULA,GILSON AUGUSTO,NaN,DELCYR,chamada,Taxi suzano,Suzano
5,5,NaN,100216,2023-05-01 00:00:00,01:40:00,FB,MOGI,63.0,LUCIANO SANDES,FABIO GOMES,NaN,ANDREW,chamada,Taxi suzano,Suzano

In [6]:
#As colunas não estão padronizadas, nesse caso faz se alterações na base de jacarei
#renomeia-se a coluna "C/Custo" por "C. CUSTO"
#renomeia-se a coluna "VL Total" por "VALOR TOTAL"

In [7]:
for dataframe in df_arq_cap:
    print(dataframe.columns)
    print(dataframe.shape)

Index(['Unnamed: 0', 'ST', 'C. CUSTO', 'DATA', 'HORA', 'ORIGEM', 'DESTINO',
       'VALOR TOTAL', 'SOLICITANTE', 'PASSAGEIRO', 'PLACA', 'MOTORISTA',
       'TIPO', 'profit', 'Unidade'],
      dtype='object')
(15551, 15)
Index(['Unnamed: 0', 'CAP', 'C.CUSTO', 'DATA', 'HORA', 'ORIGEM', 'DESTINO',
       'CUSTO', 'SOLICTANTE ', 'PASSAGEIRO', 'PLACA', 'MOTORISTA', 'tipo ',
       'profit', 'Unidade'],
      dtype='object')
(7188, 15)
Index(['Unnamed: 0', 'ST', 'C. CUSTO', 'DATA', 'HORA', 'ORIGEM', 'DESTINO',
       'VALOR TOTAL', 'SOLICITANTE', 'PASSAGEIRO', 'PLACA', 'MOTORISTA',
       'TIPO', 'profit', 'Unidade'],
      dtype='object')
(354, 15)
Index(['Unnamed: 0', 'ST', 'C. CUSTO', 'DATA', 'HORA', 'ORIGEM', 'DESTINO',
       'VALOR TOTAL', 'SOLICITANTE', 'PASSAGEIRO', 'PLACA', 'MOTORISTA',
       'TIPO', 'profit', 'Unidade'],
      dtype='object')
(5937, 15)
Index(['Unnamed: 0', 'ST', 'C/CUSTO', 'DATA', 'HORA', 'ORIGEM', 'DESTINO',
       'VL TOTAL', 'SOLICITANTE', 'PASSAGEIRO', 'PLACA', 'MOTORISTA', 'TIPO',
       'profit', 'Unidade'],
      dtype='object')
(8182, 15)
Index(['Unnamed: 0', 'ST', 'C. CUSTO', 'DATA', 'HORA', 'ORIGEM', 'DESTINO',
       'VALOR TOTAL', 'SOLICITANTE', 'PASSAGEIRO', 'PLACA', 'MOTORISTA',
       'TIPO', 'profit', 'Unidade'],
      dtype='object')
(1405, 15)
Index(['Unnamed: 0', 'ST', 'C. CUSTO', 'DATA', 'HORA', 'ORIGEM', 'DESTINO',
       'VALOR TOTAL', 'SOLICITANTE', 'PASSAGEIRO', 'PLACA', 'MOTORISTA',
       'TIPO', 'profit', 'Unidade'],
      dtype='object')
(27686, 15)
Index(['Unnamed: 0', 'ST', 'C. CUSTO', 'DATA', 'HORA', 'ORIGEM', 'DESTINO',
       'VALOR TOTAL', 'SOLICITANTE', 'PASSAGEIRO', 'PLACA', 'MOTORISTA',
       'TIPO', 'profit', 'Unidade'],
      dtype='object')
(428, 15)

In [8]:
df_arq_cap[1] = df_arq_cap[1].rename(columns={'C.CUSTO': 'C. CUSTO'})
df_arq_cap[1] = df_arq_cap[1].rename(columns={'CUSTO': 'VALOR TOTAL'})
df_arq_cap[1] = df_arq_cap[1].rename(columns={'CAP': 'ST'})
df_arq_cap[1] = df_arq_cap[1].rename(columns={'SOLICTANTE ': 'SOLICITANTE'})
df_arq_cap[1] = df_arq_cap[1].rename(columns={'tipo ': 'TIPO'})

df_arq_cap[4] = df_arq_cap[4].rename(columns={'C/CUSTO': 'C. CUSTO'})
df_arq_cap[4] = df_arq_cap[4].rename(columns={'VL TOTAL': 'VALOR TOTAL'})

In [9]:
for dataframe in df_arq_cap:
    print(dataframe.columns)

Index(['Unnamed: 0', 'ST', 'C. CUSTO', 'DATA', 'HORA', 'ORIGEM', 'DESTINO',
       'VALOR TOTAL', 'SOLICITANTE', 'PASSAGEIRO', 'PLACA', 'MOTORISTA',
       'TIPO', 'profit', 'Unidade'],
      dtype='object')
Index(['Unnamed: 0', 'ST', 'C. CUSTO', 'DATA', 'HORA', 'ORIGEM', 'DESTINO',
       'VALOR TOTAL', 'SOLICITANTE', 'PASSAGEIRO', 'PLACA', 'MOTORISTA',
       'TIPO', 'profit', 'Unidade'],
      dtype='object')
Index(['Unnamed: 0', 'ST', 'C. CUSTO', 'DATA', 'HORA', 'ORIGEM', 'DESTINO',
       'VALOR TOTAL', 'SOLICITANTE', 'PASSAGEIRO', 'PLACA', 'MOTORISTA',
       'TIPO', 'profit', 'Unidade'],
      dtype='object')
Index(['Unnamed: 0', 'ST', 'C. CUSTO', 'DATA', 'HORA', 'ORIGEM', 'DESTINO',
       'VALOR TOTAL', 'SOLICITANTE', 'PASSAGEIRO', 'PLACA', 'MOTORISTA',
       'TIPO', 'profit', 'Unidade'],
      dtype='object')
Index(['Unnamed: 0', 'ST', 'C. CUSTO', 'DATA', 'HORA', 'ORIGEM', 'DESTINO',
       'VALOR TOTAL', 'SOLICITANTE', 'PASSAGEIRO', 'PLACA', 'MOTORISTA',
       'TIPO', 'profit', 'Unidade'],
      dtype='object')
Index(['Unnamed: 0', 'ST', 'C. CUSTO', 'DATA', 'HORA', 'ORIGEM', 'DESTINO',
       'VALOR TOTAL', 'SOLICITANTE', 'PASSAGEIRO', 'PLACA', 'MOTORISTA',
       'TIPO', 'profit', 'Unidade'],
      dtype='object')
Index(['Unnamed: 0', 'ST', 'C. CUSTO', 'DATA', 'HORA', 'ORIGEM', 'DESTINO',
       'VALOR TOTAL', 'SOLICITANTE', 'PASSAGEIRO', 'PLACA', 'MOTORISTA',
       'TIPO', 'profit', 'Unidade'],
      dtype='object')
Index(['Unnamed: 0', 'ST', 'C. CUSTO', 'DATA', 'HORA', 'ORIGEM', 'DESTINO',
       'VALOR TOTAL', 'SOLICITANTE', 'PASSAGEIRO', 'PLACA', 'MOTORISTA',
       'TIPO', 'profit', 'Unidade'],
      dtype='object')

In [10]:
data_frame_terceirizadas = pd.concat(df_arq_cap)

In [11]:
data_frame_terceirizadas

,Unnamed: 0,ST,C. CUSTO,DATA,HORA,ORIGEM,DESTINO,VALOR TOTAL,SOLICITANTE,PASSAGEIRO,PLACA,MOTORISTA,TIPO,profit,Unidade
0,0,E-mail,10CECER085,2022-12-01 00:00:00,00:10:00,Site (Fábrica Três Lagoas MS),Três Lagoas MS,161.07,Dayson Danilo Pereira da Silva Cabral,Jucellia Lima / Hiram Machado,QAV6D76,Agnaldo .,Taxista,locaisa,Três lagoas
1,1,E-mail,11CETLS106,2022-12-01 00:00:00,02:00:00,Site (Fábrica Três Lagoas MS),Três Lagoas MS,144.55,Luiz Rodrigues do Santos,Jose Cicero / Michel Vicente / Rodrigo Gustavo,RFK4I78,Melissa .,Taxista,locaisa,Três lagoas
2,2,E-mail,11CETLS116,2022-12-01 00:00:00,01:00:00,Site (Fábrica Três Lagoas MS),Três Lagoas MS,218.89,Jose Batista de Albuquerque Neto,Fabio Belmont / Denis Rodrigues / Gabriel Pere...,QOE6C15,Felipe .,Taxista,locaisa,Três lagoas
3,3,E-mail,11CETLS106,2022-12-01 00:00:00,02:00:00,Site (Fábrica Três Lagoas MS),Três Lagoas MS,144.55,Luiz Rodrigues do Santos,Jose Cicero / Michel Vicente / Rodrigo Gustavo,RFK4I78,Melissa,Taxista,locaisa,Três lagoas
4,4,E-mail,07CETL1302,2022-12-01 00:00:00,04:00:00,Três Lagoas MS,Site (Fábrica Três Lagoas MS),152.81,Claudemir Emerenciano Buinauski,Ivanildo Braga / Luiz Ferreira,BWW5H39,Junior Santana .,Taxista,locaisa,Três lagoas
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
423,423,26950,100217,2023-05-31 00:00:00,05:00:00,MOGI,FB,63.0,ELVIS LINCOLN,ELVIS LINCOLN,NaN,JUNIOR,chamada,Taxi suzano,Suzano
424,424,26921,100363,2023-05-31 00:00:00,07:00:00,GUARAREMA,RIO VERDE,273.0,RAFAEL KEN,DEBORA ANDRADE,NaN,MACIEL,chamada,Taxi suzano,Suzano
425,425,26921,100363,2023-05-31 00:00:00,17:20:00,RIO VERDE,GUARAREMA,136.5,RAFAEL KEN,DEBORA ANDRADE,NaN,LUIZ,chamada,Taxi suzano,Suzano
426,426,RQ0027,100293,2023-05-31 00:00:00,20:20:00,FB,MOGI,63.0,CLAUDINEI AZEVEDO,GUILHERME,NaN,ANTONIO,chamada,Taxi suzano,Suzano
427,427,NaN,101150,2023-05-31 00:00:00,21:30:00,CUMBICA,MOGI,270.0,RICARDO CRESCINI,JOSE ALEXANDRE,NaN,JUNIOR,chamada,Taxi suzano,Suzano

In [12]:
data_frame_terceirizadas['Unidade'].unique()

array(['Três lagoas', 'Aracruz', 'Cachoeiro de Itapemirim', 'Imperatriz',
       'Jacareí', 'Limeira', 'Mucuri', 'Suzano'], dtype=object)

In [13]:
data_frame_terceirizadas['DATA'].unique()

array([Timestamp('2022-12-01 00:00:00'), Timestamp('2022-12-02 00:00:00'),
       Timestamp('2022-12-03 00:00:00'), Timestamp('2022-12-04 00:00:00'),
       Timestamp('2022-12-05 00:00:00'), Timestamp('2022-12-06 00:00:00'),
       Timestamp('2022-12-07 00:00:00'), Timestamp('2022-12-08 00:00:00'),
       Timestamp('2022-12-09 00:00:00'), Timestamp('2022-12-10 00:00:00'),
       Timestamp('2022-12-11 00:00:00'), Timestamp('2022-12-12 00:00:00'),
       Timestamp('2022-12-13 00:00:00'), Timestamp('2022-12-14 00:00:00'),
       Timestamp('2022-12-15 00:00:00'), Timestamp('2022-12-16 00:00:00'),
       Timestamp('2022-12-17 00:00:00'), Timestamp('2022-12-18 00:00:00'),
       Timestamp('2022-12-19 00:00:00'), Timestamp('2022-12-20 00:00:00'),
       Timestamp('2022-12-21 00:00:00'), Timestamp('2022-12-22 00:00:00'),
       Timestamp('2022-12-23 00:00:00'), Timestamp('2022-12-24 00:00:00'),
       Timestamp('2022-12-25 00:00:00'), Timestamp('2022-12-26 00:00:00'),
       Timestamp('2022-12-27 00:00:00'), Timestamp('2022-12-28 00:00:00'),
       Timestamp('2022-12-29 00:00:00'), Timestamp('2022-12-30 00:00:00'),
       Timestamp('2022-12-31 00:00:00'), Timestamp('2023-01-01 00:00:00'),
       Timestamp('2023-01-02 00:00:00'), Timestamp('2023-01-03 00:00:00'),
       Timestamp('2023-01-04 00:00:00'), Timestamp('2023-01-05 00:00:00'),
       Timestamp('2023-01-06 00:00:00'), Timestamp('2023-01-07 00:00:00'),
       Timestamp('2023-01-08 00:00:00'), Timestamp('2023-01-09 00:00:00'),
       Timestamp('2023-01-10 00:00:00'), Timestamp('2023-01-11 00:00:00'),
       Timestamp('2023-01-12 00:00:00'), Timestamp('2023-01-13 00:00:00'),
       Timestamp('2023-01-14 00:00:00'), Timestamp('2023-01-15 00:00:00'),
       Timestamp('2023-01-16 00:00:00'), Timestamp('2023-01-17 00:00:00'),
       Timestamp('2023-01-18 00:00:00'), Timestamp('2023-01-19 00:00:00'),
       Timestamp('2023-01-20 00:00:00'), Timestamp('2023-01-21 00:00:00'),
       Timestamp('2023-01-22 00:00:00'), Timestamp('2023-01-23 00:00:00'),
       Timestamp('2023-01-24 00:00:00'), Timestamp('2023-01-25 00:00:00'),
       Timestamp('2023-01-26 00:00:00'), Timestamp('2023-01-27 00:00:00'),
       Timestamp('2023-01-28 00:00:00'), Timestamp('2023-01-29 00:00:00'),
       Timestamp('2023-01-30 00:00:00'), Timestamp('2023-01-31 00:00:00'),
       Timestamp('2023-02-01 00:00:00'), Timestamp('2023-02-02 00:00:00'),
       Timestamp('2023-02-03 00:00:00'), Timestamp('2023-02-04 00:00:00'),
       Timestamp('2023-02-05 00:00:00'), Timestamp('2023-02-06 00:00:00'),
       Timestamp('2023-02-07 00:00:00'), Timestamp('2023-02-08 00:00:00'),
       Timestamp('2023-02-09 00:00:00'), Timestamp('2023-02-10 00:00:00'),
       Timestamp('2023-02-11 00:00:00'), Timestamp('2023-02-12 00:00:00'),
       Timestamp('2023-02-13 00:00:00'), Timestamp('2023-02-14 00:00:00'),
       Timestamp('2023-02-15 00:00:00'), Timestamp('2023-02-16 00:00:00'),
       Timestamp('2023-02-17 00:00:00'), Timestamp('2023-02-18 00:00:00'),
       Timestamp('2023-02-19 00:00:00'), Timestamp('2023-02-20 00:00:00'),
       Timestamp('2023-02-21 00:00:00'), Timestamp('2023-02-22 00:00:00'),
       Timestamp('2023-02-23 00:00:00'), Timestamp('2023-02-24 00:00:00'),
       Timestamp('2023-02-25 00:00:00'), Timestamp('2023-02-26 00:00:00'),
       Timestamp('2023-02-27 00:00:00'), Timestamp('2023-02-28 00:00:00'),
       Timestamp('2023-03-01 00:00:00'), Timestamp('2023-03-02 00:00:00'),
       Timestamp('2023-03-03 00:00:00'), Timestamp('2023-03-04 00:00:00'),
       Timestamp('2023-03-05 00:00:00'), Timestamp('2023-03-06 00:00:00'),
       Timestamp('2023-03-07 00:00:00'), Timestamp('2023-03-08 00:00:00'),
       Timestamp('2023-03-09 00:00:00'), Timestamp('2023-03-10 00:00:00'),
       Timestamp('2023-03-11 00:00:00'), Timestamp('2023-03-12 00:00:00'),
       Timestamp('2023-03-13 00:00:00'), Timestamp('2023-03-14 00:00:00'),
       Timestamp('2023-03-15 00:00:00'), Timestamp('2023-03-16 00:00:00'),
       Timestamp('2023-03-17 00:00:00'), Timestamp('2023-03-18 00:00:00'),
       Timestamp('2023-03-19 00:00:00'), Timestamp('2023-03-20 00:00:00'),
       Timestamp('2023-03-21 00:00:00'), Timestamp('2023-03-22 00:00:00'),
       Timestamp('2023-03-23 00:00:00'), Timestamp('2023-03-24 00:00:00'),
       Timestamp('2023-03-25 00:00:00'), Timestamp('2023-03-26 00:00:00'),
       Timestamp('2023-03-27 00:00:00'), Timestamp('2023-03-28 00:00:00'),
       Timestamp('2023-03-29 00:00:00'), Timestamp('2023-03-30 00:00:00'),
       Timestamp('2023-03-31 00:00:00'), Timestamp('2023-04-24 00:00:00'),
       Timestamp('2023-04-27 00:00:00'), Timestamp('2023-04-25 00:00:00'),
       Timestamp('2023-04-17 00:00:00'), Timestamp('2023-04-26 00:00:00'),
       Timestamp('2023-04-16 00:00:00'), Timestamp('2023-04-21 00:00:00'),
       Timestamp('2023-04-23 00:00:00'), Timestamp('2023-04-01 00:00:00'),
       Timestamp('2023-04-02 00:00:00'), Timestamp('2023-04-03 00:00:00'),
       NaT, Timestamp('2023-04-04 00:00:00'),
       Timestamp('2023-04-05 00:00:00'), Timestamp('2023-04-06 00:00:00'),
       Timestamp('2023-04-07 00:00:00'), Timestamp('2023-04-08 00:00:00'),
       Timestamp('2023-04-09 00:00:00'), Timestamp('2023-04-10 00:00:00'),
       Timestamp('2023-04-11 00:00:00'), Timestamp('2023-04-12 00:00:00'),
       Timestamp('2023-04-13 00:00:00'), Timestamp('2023-04-14 00:00:00'),
       Timestamp('2023-04-15 00:00:00'), Timestamp('2023-04-18 00:00:00'),
       Timestamp('2023-04-19 00:00:00'), Timestamp('2023-04-20 00:00:00'),
       Timestamp('2023-04-22 00:00:00'), Timestamp('2023-04-28 00:00:00'),
       Timestamp('2023-04-29 00:00:00'), Timestamp('2023-04-30 00:00:00'),
       Timestamp('2023-05-01 00:00:00'), Timestamp('2023-05-02 00:00:00'),
       Timestamp('2023-05-03 00:00:00'), Timestamp('2023-05-04 00:00:00'),
       Timestamp('2023-05-05 00:00:00'), Timestamp('2023-05-06 00:00:00'),
       Timestamp('2023-05-07 00:00:00'), Timestamp('2023-05-08 00:00:00'),
       Timestamp('2023-05-09 00:00:00'), Timestamp('2023-05-10 00:00:00'),
       Timestamp('2023-05-11 00:00:00'), Timestamp('2023-05-12 00:00:00'),
       Timestamp('2023-05-13 00:00:00'), Timestamp('2023-05-14 00:00:00'),
       Timestamp('2023-05-15 00:00:00'), Timestamp('2023-05-16 00:00:00'),
       Timestamp('2023-05-17 00:00:00'), Timestamp('2023-05-18 00:00:00'),
       Timestamp('2023-05-19 00:00:00'), Timestamp('2023-05-20 00:00:00'),
       Timestamp('2023-05-21 00:00:00'), Timestamp('2023-05-22 00:00:00'),
       Timestamp('2023-05-23 00:00:00'), Timestamp('2023-05-24 00:00:00'),
       Timestamp('2023-05-25 00:00:00'), Timestamp('2023-05-26 00:00:00'),
       Timestamp('2023-05-27 00:00:00'), Timestamp('2023-05-28 00:00:00'),
       Timestamp('2023-05-29 00:00:00'), Timestamp('2023-05-30 00:00:00'),
       Timestamp('2023-05-31 00:00:00'), Timestamp('2023-04-27 15:48:44'),
       Timestamp('2023-04-27 15:55:45'), Timestamp('2023-05-01 16:49:13'),
       Timestamp('2023-05-02 09:06:28'), Timestamp('2023-05-02 09:37:49'),
       Timestamp('2023-05-02 13:33:15'), Timestamp('2023-05-02 14:40:25'),
       Timestamp('2023-05-02 14:55:34'), Timestamp('2023-05-02 15:56:39'),
       Timestamp('2023-05-02 16:37:38'), Timestamp('2023-05-02 17:21:36'),
       Timestamp('2023-05-03 07:58:50'), Timestamp('2023-05-03 10:34:06'),
       Timestamp('2023-05-03 15:44:58'), Timestamp('2023-05-03 15:48:22'),
       Timestamp('2023-05-03 19:59:10'), Timestamp('2023-05-03 23:04:11'),
       Timestamp('2023-05-04 12:02:16'), Timestamp('2023-05-04 14:07:16'),
       Timestamp('2023-05-04 16:42:51'), Timestamp('2023-05-06 10:56:36'),
       Timestamp('2023-05-06 11:26:10'), Timestamp('2023-05-08 18:56:06'),
       Timestamp('2023-05-08 21:27:09'), Timestamp('2023-05-08 22:13:16'),
       Timestamp('2023-05-09 07:06:08'), Timestamp('2023-05-09 08:30:16'),
       Timestamp('2023-05-09 08:48:59'), Timestamp('2023-05-09 12:30:45'),
       Timestamp('2023-05-09 13:49:34'), Timestamp('2023-05-09 13:51:56'),
       Timestamp('2023-05-09 13:55:00'), Timestamp('2023-05-09 13:58:48'),
       Timestamp('2023-05-09 14:01:41'), Timestamp('2023-05-09 14:04:20'),
       Timestamp('2023-05-09 14:07:39'), Timestamp('2023-05-09 14:25:26'),
       Timestamp('2023-05-09 14:46:39'), Timestamp('2023-05-09 19:52:00'),
       Timestamp('2023-05-09 20:42:03'), Timestamp('2023-05-10 09:20:05'),
       Timestamp('2023-05-10 11:37:53'), Timestamp('2023-05-10 16:13:16'),
       Timestamp('2023-05-11 01:01:42'), Timestamp('2023-05-11 09:50:34'),
       Timestamp('2023-05-11 09:58:23'), Timestamp('2023-05-11 12:25:06'),
       Timestamp('2023-05-11 13:04:20'), Timestamp('2023-05-11 13:48:43'),
       Timestamp('2023-05-11 14:09:00'), Timestamp('2023-05-11 14:18:15'),
       Timestamp('2023-05-11 16:58:53'), Timestamp('2023-05-11 21:08:51'),
       Timestamp('2023-05-11 21:47:49'), Timestamp('2023-05-11 23:31:53'),
       Timestamp('2023-05-11 23:33:45'), Timestamp('2023-05-11 23:36:57'),
       Timestamp('2023-05-12 10:31:06'), Timestamp('2023-05-12 10:35:24'),
       Timestamp('2023-05-12 11:30:54'), Timestamp('2023-05-14 01:10:19'),
       Timestamp('2023-05-14 06:55:58'), Timestamp('2023-05-15 11:57:20'),
       Timestamp('2023-05-15 15:21:39'), Timestamp('2023-05-15 15:24:46'),
       Timestamp('2023-05-15 18:33:06'), Timestamp('2023-05-15 20:33:50'),
       Timestamp('2023-05-16 14:45:38'), Timestamp('2023-05-16 15:02:54'),
       Timestamp('2023-05-16 15:06:17'), Timestamp('2023-05-16 15:17:55'),
       Timestamp('2023-05-16 23:40:20'), Timestamp('2023-05-17 08:35:53'),
       Timestamp('2023-05-17 09:02:04'), Timestamp('2023-05-17 09:04:40'),
       Timestamp('2023-05-17 12:31:35'), Timestamp('2023-05-17 13:04:10'),
       Timestamp('2023-05-17 16:57:09'), Timestamp('2023-05-17 21:14:25'),
       Timestamp('2023-05-18 10:03:06'), Timestamp('2023-05-18 14:59:12'),
       Timestamp('2023-05-18 15:04:25'), Timestamp('2023-05-18 17:41:22'),
       Timestamp('2023-05-19 08:18:36'), Timestamp('2023-05-19 10:17:57'),
       Timestamp('2023-05-19 11:47:38'), Timestamp('2023-05-19 12:49:33'),
       Timestamp('2023-05-19 12:52:47'), Timestamp('2023-05-19 13:06:42'),
       Timestamp('2023-05-19 13:45:59'), Timestamp('2023-05-19 16:57:30'),
       Timestamp('2023-05-19 18:40:14'), Timestamp('2023-05-20 09:51:14'),
       Timestamp('2023-05-20 10:02:57'), Timestamp('2023-05-20 13:35:15'),
       Timestamp('2023-05-20 15:00:12'), Timestamp('2023-05-20 15:03:42'),
       Timestamp('2023-05-21 00:24:37'), Timestamp('2023-05-21 00:27:21'),
       Timestamp('2023-05-21 00:30:05'), Timestamp('2023-05-21 09:35:05'),
       Timestamp('2023-05-21 09:39:00'), Timestamp('2023-05-21 15:52:49'),
       Timestamp('2023-05-21 18:18:20'), Timestamp('2023-05-22 13:44:16'),
       Timestamp('2023-05-23 10:45:52'), Timestamp('2023-05-23 11:33:07'),
       Timestamp('2023-05-23 11:34:54'), Timestamp('2023-05-23 11:38:58'),
       Timestamp('2023-05-23 11:42:13'), Timestamp('2023-05-23 18:17:28'),
       Timestamp('2023-05-23 18:34:49'), Timestamp('2023-05-24 09:04:30'),
       Timestamp('2023-05-24 09:09:20'), Timestamp('2023-05-24 09:35:41'),
       Timestamp('2023-05-24 16:39:51'), Timestamp('2023-05-24 16:46:23'),
       Timestamp('2023-05-25 06:32:24'), Timestamp('2023-05-25 13:27:43'),
       Timestamp('2023-05-25 15:11:20'), Timestamp('2023-05-25 15:13:48'),
       Timestamp('2023-05-25 15:46:31'), Timestamp('2023-05-26 01:59:07'),
       Timestamp('2023-05-26 02:06:48'), Timestamp('2023-05-26 11:11:42'),
       Timestamp('2023-05-26 15:35:37'), Timestamp('2023-05-26 18:54:55'),
       Timestamp('2023-05-27 00:42:23'), Timestamp('2023-05-27 04:03:21'),
       Timestamp('2023-05-28 15:43:42'), Timestamp('2023-05-29 10:31:05'),
       Timestamp('2023-05-29 15:43:15'), Timestamp('2023-05-29 15:52:25'),
       Timestamp('2023-05-29 17:05:21'), Timestamp('2023-05-30 16:48:41'),
       Timestamp('2023-05-31 09:27:42'), Timestamp('2023-05-31 10:05:47'),
       Timestamp('2023-05-31 12:04:50'), Timestamp('2023-05-31 14:41:27'),
       Timestamp('2023-05-31 16:20:37'), Timestamp('2023-06-02 00:00:00'),
       Timestamp('2023-06-12 00:00:00'), Timestamp('2023-06-07 00:00:00'),
       Timestamp('2023-06-03 00:00:00'), Timestamp('2023-06-04 00:00:00'),
       Timestamp('2023-06-06 00:00:00'), Timestamp('2023-06-01 00:00:00'),
       Timestamp('2023-06-05 00:00:00'), Timestamp('2023-06-14 00:00:00'),
       Timestamp('2023-06-15 00:00:00'), Timestamp('2021-12-01 00:00:00'),
       Timestamp('2021-12-02 00:00:00'), Timestamp('2021-12-03 00:00:00'),
       Timestamp('2021-12-06 00:00:00'), Timestamp('2021-12-07 00:00:00'),
       Timestamp('2021-12-08 00:00:00'), Timestamp('2021-12-09 00:00:00'),
       Timestamp('2021-12-10 00:00:00'), Timestamp('2021-12-13 00:00:00'),
       Timestamp('2021-12-14 00:00:00'), Timestamp('2021-12-15 00:00:00'),
       Timestamp('2021-12-16 00:00:00'), Timestamp('2021-12-17 00:00:00'),
       Timestamp('2021-12-20 00:00:00'), Timestamp('2021-12-21 00:00:00'),
       Timestamp('2021-12-22 00:00:00'), Timestamp('2021-12-23 00:00:00'),
       Timestamp('2021-12-27 00:00:00'), Timestamp('2021-12-28 00:00:00'),
       Timestamp('2021-12-29 00:00:00'), Timestamp('2021-12-30 00:00:00'),
       Timestamp('2021-12-31 00:00:00'), Timestamp('2021-12-19 00:00:00'),
       Timestamp('2021-12-26 00:00:00'), Timestamp('2021-12-04 00:00:00'),
       Timestamp('2021-12-12 00:00:00'), Timestamp('2021-12-18 00:00:00'),
       Timestamp('2021-12-11 00:00:00'), Timestamp('2021-12-05 00:00:00'),
       Timestamp('2021-12-24 00:00:00'), Timestamp('2021-12-25 00:00:00'),
       Timestamp('2101-02-09 00:00:00'), '19/04/20223', '30/04/023',
       '2023-01-01 00:00:00', '2023-01-02 00:00:00',
       '2023-01-03 00:00:00', '2023-01-04 00:00:00',
       '2023-01-05 00:00:00', '2023-01-06 00:00:00',
       '2023-01-07 00:00:00', '2023-01-08 00:00:00',
       '2023-01-09 00:00:00', '2023-01-10 00:00:00',
       '2023-01-11 00:00:00', '2023-01-12 00:00:00',
       '2023-01-13 00:00:00', '2023-01-14 00:00:00',
       '2023-01-15 00:00:00', '2023-01-16 00:00:00',
       '2023-01-17 00:00:00', '2023-01-18 00:00:00',
       '2023-01-19 00:00:00', '2023-01-20 00:00:00',
       '2023-01-21 00:00:00', '2023-01-22 00:00:00',
       '2023-01-23 00:00:00', '2023-01-24 00:00:00',
       '2023-01-25 00:00:00', '2023-01-26 00:00:00',
       '2023-01-27 00:00:00', '2023-01-28 00:00:00',
       '2023-01-29 00:00:00', '2023-01-30 00:00:00',
       '2023-01-31 00:00:00', '21/012023(seg)', '2023-02-01 00:00:00',
       '2023-02-02 00:00:00', '2023-02-03 00:00:00',
       '2023-02-04 00:00:00', '2023-02-05 00:00:00',
       '2023-02-06 00:00:00', '2023-02-07 00:00:00',
       '2023-02-08 00:00:00', '2023-02-09 00:00:00',
       '2023-02-10 00:00:00', '2023-02-11 00:00:00',
       '1900-03-11 00:00:00', '2023-02-12 00:00:00',
       '2023-02-13 00:00:00', '2023-02-14 00:00:00',
       '2023-02-15 00:00:00', '2023-02-16 00:00:00',
       '2023-02-17 00:00:00', '2023-02-18 00:00:00',
       '2023-02-19 00:00:00', '2023-02-20 00:00:00',
       '2023-02-21 00:00:00', '2023-02-22 00:00:00',
       '2023-02-23 00:00:00', '2023-02-24 00:00:00',
       '2023-02-25 00:00:00', '2023-02-26 00:00:00',
       '2023-02-27 00:00:00', '2023-02-28 00:00:00',
       '2023-03-01 00:00:00', '2023-09-01 00:00:00',
       '2023-03-02 00:00:00', '2023-03-03 00:00:00',
       '2023-03-04 00:00:00', '2023-03-05 00:00:00',
       '2023-03-06 00:00:00', '2023-03-07 00:00:00',
       '2023-03-08 00:00:00', '2023-03-09 00:00:00',
       '2023-03-10 00:00:00', '2023-03-12 00:00:00',
       '2023-03-13 00:00:00', '2023-03-14 00:00:00',
       '2023-03-15 00:00:00', '2023-03-16 00:00:00',
       '2023-03-17 00:00:00', '2023-03-18 00:00:00',
       '2023-03-19 00:00:00', '2023-03-20 00:00:00',
       '2023-03-21 00:00:00', '2023-03-22 00:00:00',
       '2023-03-23 00:00:00', '2023-03-24 00:00:00',
       '2023-03-25 00:00:00', '2023-03-26 00:00:00',
       '2023-03-27 00:00:00', '2023-03-28 00:00:00',
       '2023-03-29 00:00:00', '2023-03-30 00:00:00',
       '2023-03-31 00:00:00', '2023-04-01 00:00:00',
       '2023-04-02 00:00:00', '2023-04-03 00:00:00',
       '2023-04-04 00:00:00', '2023-04-05 00:00:00',
       '2023-04-06 00:00:00', '2023-04-07 00:00:00',
       '2023-04-08 00:00:00', '2023-04-09 00:00:00',
       '2023-04-10 00:00:00', '2023-04-11 00:00:00',
       '2023-04-12 00:00:00', '2023-04-13 00:00:00',
       '2023-04-14 00:00:00', '2023-04-15 00:00:00',
       '2023-04-16 00:00:00', '2023-04-17 00:00:00',
       '2023-04-18 00:00:00', '2023-04-19 00:00:00',
       '2023-04-20 00:00:00', '2023-04-21 00:00:00',
       '2023-04-22 00:00:00', '2023-04-23 00:00:00',
       '2023-04-24 00:00:00', '2023-04-25 00:00:00',
       '2023-04-26 00:00:00', '2023-04-27 00:00:00',
       '2023-04-28 00:00:00', '2023-04-29 00:00:00',
       '2023-04-30 00:00:00', '2023-05-01 00:00:00',
       '2023-05-02 00:00:00', '2023-05-03 00:00:00',
       '2023-05-04 00:00:00', '2023-05-05 00:00:00',
       '2023-05-06 00:00:00', '2023-05-07 00:00:00',
       '2023-05-08 00:00:00', '2023-05-09 00:00:00',
       '2023-05-10 00:00:00', '2023-05-11 00:00:00',
       '2023-05-12 00:00:00', '2023-05-13 00:00:00',
       '2023-05-14 00:00:00', '2023-05-15 00:00:00',
       '2023-05-16 00:00:00', '2023-05-17 00:00:00',
       '2023-05-18 00:00:00', '2023-05-19 00:00:00',
       '2023-05-20 00:00:00', '2023-05-21 00:00:00',
       '2023-05-22 00:00:00', '2023-05-23 00:00:00',
       '2023-05-24 00:00:00', '2023-05-25 00:00:00',
       '2023-05-26 00:00:00', '2023-05-27 00:00:00',
       '2023-05-28 00:00:00', '2023-05-29 00:00:00',
       '2023-05-30 00:00:00', '2023-05-31 00:00:00', nan,
       Timestamp('2002-05-06 00:00:00'), Timestamp('2023-12-21 00:00:00'),
       Timestamp('2023-11-09 00:00:00'), Timestamp('2023-12-08 00:00:00'),
       Timestamp('2022-05-16 00:00:00'), Timestamp('2022-06-09 00:00:00'),
       Timestamp('2022-06-10 00:00:00'), Timestamp('2022-06-22 00:00:00'),
       Timestamp('2022-01-04 00:00:00'), Timestamp('2022-01-05 00:00:00'),
       Timestamp('2022-04-13 00:00:00'), Timestamp('2022-04-15 00:00:00'),
       Timestamp('2022-04-19 00:00:00'), Timestamp('2022-04-21 00:00:00'),
       Timestamp('2022-04-23 00:00:00'), Timestamp('2022-04-28 00:00:00'),
       Timestamp('2022-06-03 00:00:00'), Timestamp('2022-05-21 00:00:00'),
       Timestamp('2022-06-27 00:00:00'), Timestamp('2022-06-29 00:00:00'),
       Timestamp('2022-06-12 00:00:00'), Timestamp('2022-05-03 00:00:00'),
       Timestamp('2022-05-11 00:00:00'), Timestamp('2022-06-30 00:00:00'),
       Timestamp('2022-06-26 00:00:00'), Timestamp('2022-05-01 00:00:00'),
       Timestamp('2022-05-06 00:00:00'), Timestamp('2022-05-07 00:00:00'),
       Timestamp('2022-05-08 00:00:00'), Timestamp('2022-05-09 00:00:00'),
       Timestamp('2022-05-17 00:00:00'), Timestamp('2022-05-22 00:00:00'),
       Timestamp('2022-05-25 00:00:00'), Timestamp('2022-05-27 00:00:00'),
       Timestamp('2022-05-28 00:00:00'), Timestamp('2022-05-29 00:00:00'),
       Timestamp('2022-06-01 00:00:00'), Timestamp('2022-06-02 00:00:00'),
       Timestamp('2022-06-04 00:00:00'), Timestamp('2022-06-05 00:00:00'),
       Timestamp('2022-06-06 00:00:00'), Timestamp('2022-06-07 00:00:00'),
       Timestamp('2022-06-08 00:00:00'), Timestamp('2022-06-13 00:00:00'),
       Timestamp('2022-06-14 00:00:00'), Timestamp('2022-06-15 00:00:00'),
       Timestamp('2022-06-16 00:00:00'), Timestamp('2022-06-17 00:00:00'),
       Timestamp('2022-06-18 00:00:00'), Timestamp('2022-06-19 00:00:00'),
       Timestamp('2022-06-20 00:00:00'), Timestamp('2022-06-21 00:00:00'),
       Timestamp('2022-06-23 00:00:00'), Timestamp('2022-06-24 00:00:00'),
       Timestamp('2022-06-25 00:00:00'), Timestamp('2022-06-28 00:00:00'),
       Timestamp('2022-02-11 00:00:00'), Timestamp('2022-02-14 00:00:00'),
       Timestamp('2022-02-16 00:00:00'), Timestamp('2022-02-17 00:00:00'),

In [14]:
data_frame_terceirizadas['profit'].unique()

array(['locaisa', 'chamadas', 'Taxi cachoeiro', 'Imperatriz', 'bm',
       '2 Elos transportes', 'DPG', 'Excelencia', 'Marlin', 'Ranking',
       'Taxi suzano'], dtype=object)

In [15]:
data_frame_terceirizadas.columns

Index(['Unnamed: 0', 'ST', 'C. CUSTO', 'DATA', 'HORA', 'ORIGEM', 'DESTINO',
       'VALOR TOTAL', 'SOLICITANTE', 'PASSAGEIRO', 'PLACA', 'MOTORISTA',
       'TIPO', 'profit', 'Unidade'],
      dtype='object')

In [16]:
data_frame_terceirizadas = data_frame_terceirizadas.assign(tabela="Mobilidade taxi e pool")

In [17]:
# salvando o arquivo combinado no local correto
# C:\Users\MarkosPereira.exc\OneDrive - Suzano S A\Área de Trabalho\pool Mucuri\total_chamados_terceirizadas.xlsx
destino = r"C:\Users\MarkosPereira.exc\Suzano S A\mobilidade taxi\total_chamados_terceirizadas.xlsx".replace("\\","/")
data_frame_terceirizadas.to_excel(destino)

In [18]:
data_frame_terceirizadas

,Unnamed: 0,ST,C. CUSTO,DATA,HORA,ORIGEM,DESTINO,VALOR TOTAL,SOLICITANTE,PASSAGEIRO,PLACA,MOTORISTA,TIPO,profit,Unidade,tabela
0,0,E-mail,10CECER085,2022-12-01 00:00:00,00:10:00,Site (Fábrica Três Lagoas MS),Três Lagoas MS,161.07,Dayson Danilo Pereira da Silva Cabral,Jucellia Lima / Hiram Machado,QAV6D76,Agnaldo .,Taxista,locaisa,Três lagoas,Mobilidade taxi e pool
1,1,E-mail,11CETLS106,2022-12-01 00:00:00,02:00:00,Site (Fábrica Três Lagoas MS),Três Lagoas MS,144.55,Luiz Rodrigues do Santos,Jose Cicero / Michel Vicente / Rodrigo Gustavo,RFK4I78,Melissa .,Taxista,locaisa,Três lagoas,Mobilidade taxi e pool
2,2,E-mail,11CETLS116,2022-12-01 00:00:00,01:00:00,Site (Fábrica Três Lagoas MS),Três Lagoas MS,218.89,Jose Batista de Albuquerque Neto,Fabio Belmont / Denis Rodrigues / Gabriel Pere...,QOE6C15,Felipe .,Taxista,locaisa,Três lagoas,Mobilidade taxi e pool
3,3,E-mail,11CETLS106,2022-12-01 00:00:00,02:00:00,Site (Fábrica Três Lagoas MS),Três Lagoas MS,144.55,Luiz Rodrigues do Santos,Jose Cicero / Michel Vicente / Rodrigo Gustavo,RFK4I78,Melissa,Taxista,locaisa,Três lagoas,Mobilidade taxi e pool
4,4,E-mail,07CETL1302,2022-12-01 00:00:00,04:00:00,Três Lagoas MS,Site (Fábrica Três Lagoas MS),152.81,Claudemir Emerenciano Buinauski,Ivanildo Braga / Luiz Ferreira,BWW5H39,Junior Santana .,Taxista,locaisa,Três lagoas,Mobilidade taxi e pool
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
423,423,26950,100217,2023-05-31 00:00:00,05:00:00,MOGI,FB,63.0,ELVIS LINCOLN,ELVIS LINCOLN,NaN,JUNIOR,chamada,Taxi suzano,Suzano,Mobilidade taxi e pool
424,424,26921,100363,2023-05-31 00:00:00,07:00:00,GUARAREMA,RIO VERDE,273.0,RAFAEL KEN,DEBORA ANDRADE,NaN,MACIEL,chamada,Taxi suzano,Suzano,Mobilidade taxi e pool
425,425,26921,100363,2023-05-31 00:00:00,17:20:00,RIO VERDE,GUARAREMA,136.5,RAFAEL KEN,DEBORA ANDRADE,NaN,LUIZ,chamada,Taxi suzano,Suzano,Mobilidade taxi e pool
426,426,RQ0027,100293,2023-05-31 00:00:00,20:20:00,FB,MOGI,63.0,CLAUDINEI AZEVEDO,GUILHERME,NaN,ANTONIO,chamada,Taxi suzano,Suzano,Mobilidade taxi e pool
427,427,NaN,101150,2023-05-31 00:00:00,21:30:00,CUMBICA,MOGI,270.0,RICARDO CRESCINI,JOSE ALEXANDRE,NaN,JUNIOR,chamada,Taxi suzano,Suzano,Mobilidade taxi e pool